flask-cors
flask-sqlalchemy
spacy
opencv-python
torch
numpy
psycopg2-binary
beautifulsoup4
Pillow
pytesseract
ultralytics
python-telegram-bot
moviepy
SpeechRecognition
cv2
Flask==2.1.1
gunicorn==20.1.0
requests==2.26.0
